body {
    background-color: #DBF1F9;
}

/*-------------SECTION 1: AERONAUTICS-SECTION---------------*/

.aeronautics-section {
    background-image: url(/IMAGES/events/mobile/events-hero-mobile.png);
    height: 473px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    position: relative;
    background-color: #16243E;
}

.aeronautics-section-mobile {
    background-color: #16243E;
    padding: 24px 60px 48px;
}

.aeronautics-section-mobile .headline-style-1 {
    max-width: 280px;
    width: 100%;
}

.aeronautics-section-mobile p {
    color: white;
}

.aeronautics-section div,
.aeronautics-section p,
.aeronautics-section h1 {
    display: none;
}

.aeronautics-section .dates {
    width: 4%;
    height: 9%;
    left: 10%;
    top: 8%;
}

.aeronautics-section p {
    color: white;
    width: 35%;
}

.events-section.slide {
    padding-left: 0;
}

.events-section.slide li.event {
    height: 400px;
}

.dates-special {
    background-color: #CCCDCF;
    padding: 12px 6px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 16px;
    color: black;
    font-size: .9rem;
    min-width: 54px;
    min-height: 60px;
}

.dates-special span {
    font-weight: bold;
}

/*-------------SECTION 2: SPECIAL-EVENTS---------------*/

.special-events .headline-style-2 {
    padding: 48px 0 10px 0;
    margin: 0;
}

.list-2 {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.special-events {
    padding-bottom: 110px;
    background-color: #7DB3C7;
}

.special-event {
    background-color: white;
    width: 100%;
    height: fit-content;
    position: relative;
}

.special-event .dates-special {
    position: absolute;
    top: 16px;
    left: 16px;
}

.special-event .dates {
    width: 10%;
    height: 12%;
}

.description {
    background-color: white;
    padding: 32px 30px 48px;
    display: flex;
    flex-direction: column;
}

.description p {
    margin: 0;
}

.special-event img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/*-------------SECTION 4: BROCHURE---------------*/

.brochure-section {
    background-color: #FDFAF5;
}

.brochure-text {
    flex-direction: column;
}

.brochure-text button {
    max-width: 200px;
}

.brochure-section .headline-style-2 {
    text-align: start;
    width: 100%;
}

.brochures,
.special-events .list-2 > div {
    display: flex;
    flex-direction: column;
}

.brochures {
    width: 60%;
    padding: 50px 0px;
}

.brochures img {
    padding-right: 0;
    object-fit: contain;
}

.brochures .primary-btn {
    margin-bottom: 20px;
}

.special-events .list-2 > div{
    gap: 20px;
}

/*--------------MEDIA QUERIES--------------*/

@media (min-width: 425px) {
    section.aeronautics-section {
        background-image: url(/IMAGES/events/events-hero.png);
        height: 330px;
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        position: relative;
        background-color: #16243E;
    }
}

@media (min-width: 768px) {
    section.aeronautics-section {
        background-size: cover;
        background-color: #7DB3C7;
        height: 550px;
    }

    .aeronautics-section p,
    .aeronautics-section h1,
    .aeronautics-section .headline-style-1 span {
        display: block;
    }

    .aeronautics-section div {
        display: flex;
    }

    .aeronautics-section .headline-style-1 {
        width: 350px;
    }

    .aeronautics-section p {
        width: 550px;
    }

    .aeronautics-section-mobile {
        display: none;
    }

    .special-event {
        background-color: white;
        width: 100%;
        position: relative;
    }

    .brochures {
        align-items: center;
    }

    .brochures img {
        padding-right: 0;
        object-fit: contain;
        max-width: 380px;
    }

    .brochure-section .headline-style-2 {
        width: 100%;
        text-align: start;
    }

    .events-section.slide .events-container {
        gap: 20px;
    }

    .special-events .list-2   {
        justify-content: start;
        align-items: center;
    }

    .events-section.slide .headline {
        padding-left: 0;
        padding-top: 0;
    }

    .special-events {
        padding-bottom: 60px;
    }
}

@media (min-width: 980px) {
    section.aeronautics-section {
        height: 630px;
    }

    .special-events .list-2{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0;
        width: fit-content;
        padding: 0 24px;
    }

    .special-events .list-2 > div{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .special-events {
        padding-bottom: 110px;
    }

    .special-events .special-event {
        max-width: 552px;
        height: auto;
    }

    .special-events .headline-style-2 {
        padding-left: 0;
        padding-bottom: 24px;
    }
}

@media (min-width: 1170px) {
    .aeronautics-section .headline-style-1 {
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .aeronautics-section .headline-style-1 {
        width: 370px;
    }

    .brochure-section .brochures {
        flex-direction: row;
    }

    .brochures img {
        padding-right: 50px;
    }

    .brochure-section .brochure-text {
        align-items: start;
    }
}

