/*----------------SECTION 1: HERO----------------*/

.hero-section {
    background-image: url(/IMAGES/frontpage/hero-img.png);
    height: 705px; /*When changing this to 40rem, the "lets start exploring" jumps up, need fixing*/
    display: flex;
}

.hero-text {
    padding-left: 10%;
    padding-top: 6%;
    font-weight: 400;
    color: white;
    width: 80%;
}

.hero-text p {
    width: 36%;
}

/*----------------SECTION 2: LETS EXPLORE----------------*/

.explore-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    padding-bottom: 80px; /*Change to REM-EM*/
}

.explore-section p {
    width: 75%;
    text-align: center;
    padding-bottom: 30px; /*Change to REM-EM*/
}

.list-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 3em;
    overflow: auto;
    max-width: 100%;
}

.list-container {
    background-color: white;
    width: 33%;
}

.list-3 img {
    width: 100%;
    height: 308px; /*Change to REM-EM*/
    object-fit: cover;
}

.desc {
    height: 11em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    padding-top: 10px; /*Change to REM-EM*/
}

.container {
    background-color: white;
}

.desc p {
    width: 90%;
    margin: 0;
    padding: 0;
}

/*----------------SECTION 3: ICON-SECTION----------------*/

.icon-section,
.circles,
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-section {
    background-color: #7DB3C7;
    height: 176px; /*Change to REM-EM*/
}

#circle-container {
    width: 50%;
    display: flex;
    gap: 80px; /*Change to REM-EM*/
}

.circles {
    flex-direction: column;
    width: 25%;
}

.circle {
    width: 65px; /*Change to REM-EM*/
    height: 65px; /*Change to REM-EM*/
    background-color: #DBF1F9;
    border-radius: 50%;
}

.circle i {
    font-size: 28px; /*Change to REM-EM*/
}

/*----------------SECTION 4: VR-SECTION----------------*/

.vr-section {
    background-color: #FDFAF5;
    display: flex;
    height: 618px; /*Change to REM-EM*/
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 {
    width: 60%;
}

.container-1 p {
    width: 87%;
    text-align: center;
}

#absolute {
    position: absolute;
    width: 340px; /*Change to REM-EM*/
    height: 350px; /*Change to REM-EM*/
    right: 893px; /*Change to REM-EM*/
    top: 2026px; /*Change to REM-EM*/
}

#relative {
    position: relative;
    width: 340px; /*Change to REM-EM*/
    height: 350px; /*Change to REM-EM*/
    left: 313px; /*Change to REM-EM*/
    top: -62px; /*Change to REM-EM*/
}

/*----------------SECTION 5: EVENTS-SECTION----------------*/

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4%;
}

.view-all {
    text-decoration: 4px underline #FBA729;
    color: #19191E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px; /*Change to REM-EM*/
}

.events-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 80%;
    gap: 40px; /*Change to REM-EM*/
    margin: 0 auto;
    padding-bottom: 6%;
}

.events {
    text-decoration: none;
}

.event {
    height: 340px; /*Change to REM-EM*/
    width: 260px; /*Change to REM-EM*/
    background-color: white;
    text-align: center;
}

.events-container {
    display: flex;
    flex-direction: row;
    gap: 40px; /*Change to REM-EM*/
}

.event-image {
    height: 75%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dates {
    color: #1E1E19;
    border-radius: 5px; /*Change to REM-EM*/
    background-color: white;
    width: 20%;
    height: 20%;
    border-radius: 5px; /*Change to REM-EM*/
    text-align: center;
    font-size: 16px; /*Change to REM-EM*/
    font-family: 'Quicksand', sans-serif;
    top: 15px; /*Change to REM-EM*/
    left: 15px; /*Change to REM-EM*/
    opacity: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.dates span {
    font-weight: 700;
    font-size: 16px; /*Change to REM-EM*/
}

.event-text {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-title {
    font-size: 18px;
    color: #19191E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    width: 100%;
    margin: 0;
    line-height: 1.5;
}

.event-time {
    color: #19191E;
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    margin: 0;
}

/*----------------SECTION 6: GET-INVOLVED-SECTION----------------*/

.get-involved-section {
    background-color: #FDFAF5;
    padding: 4% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*----------------SECTION 7: EXPLORE----------------*/

.explore-section-2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px; /*Change to REM-EM*/
}

.explore-section-2 .desc {
    height: 140px; /*Change to REM-EM*/
}

/*----------------MEDIA QUIERIES: MOBILE----------------*/

@media only screen and (min-width: 0px) and (max-width: 767px) {

    .hero-section {
        background-image: url(/IMAGES/frontpage/hero-mob.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 600px; /*Change to REM-EM*/
    }

    .hero-text {
        padding-top: 15%;
    }

    .hero-text p {
        width: 100%;
        font-size: 16px; /*Change to REM-EM*/
    }
    

    .explore-section,
    .explore-section-2 {
        width: 100%;
        padding: 0;
    }

    .explore-section p {
        width: 90%;
    }

    .circles {
        width: 15%;
    }

    .list-3 {
        overflow: scroll;
        scroll-behavior: smooth;
        display: flex;
        gap: 10px; /*Change to REM-EM*/
        padding-bottom: 20px; /*Change to REM-EM*/
        width: 100% !important;
        justify-content: flex-start;
        padding: 0 1em;
    }

    .list-3 img {
        width: auto !important;
    }

    .list-container {
        width: auto;
    }

    #absolute,
    #relative {
        position: unset;
        height: 100%;
        width: 100%;
        display: none;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container-1 {
        width: 100%;
    }

    .events-section {
        width: 100%;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}


/*----------------MEDIA QUIERIES: IPAD----------------*/

@media only screen and (min-width: 768px) and (max-width: 1180px) {
}