html {
    box-sizing: border-box;
    background-color: #72bfdb;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1440px;
    color: #19191E;
    background-color: #F5F4F0;
    margin: 0 auto;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}


/*---------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16243E;
    height: 154px;
}

#logo-container {
    margin-left: 8%;
    text-decoration: none;
    color: white;
}

#logo-container img {
    width: 50px;
    height: 40px;
}

.logo-text {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
}

.logo-text span {
    font-size: 22px;
    font-weight: 400;
}

#header-nav {
    padding-right: 4%;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    padding-right: 70px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 18px;
}

#menu-checkbox,
.hamburger-icon {
  display: none;
}

/*---------------HEADLINE----------------*/

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
}

.headline-txt,
.view-all {
    font-family: 'Quicksand', sans-serif;
    color: #19191E;
    font-weight: 800;
}

.headline-txt {
    font-size: 24px;
}

.view-all {
    text-decoration: 3px underline #FF7600;
    font-size: 18px;
}




/*--------------MEDIA QUIERIES--------------*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .logo-container {
        padding-left: 10%;
    }

    #header-nav {
        display: none;
    }

    .nav-link {
        padding: 0;
    }
    
    #menu-checkbox:checked ~ #header-nav {
        display: block;
        margin-top: 254px;
        background-color: #16243E;
    }

    .hamburger-icon {
        cursor: pointer;
        display: block;
        padding-right: 10%;
        color: white;
    }
}

/*---------------FOOTER----------------*/

footer {
    background-color: #16243E;
    color: white;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.footer-heading {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 20px;
    margin: 0;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.col-1 p {
    width: 100%;
    padding-left: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

.col-2 a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.col-3 p {
    width: 100%;
    padding-left: 20px;
}

.col-4 a i {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 25px;
}

.col-4 .footer-heading {
    width: 100%;
}


.button {
    width: 140px;
    height: 40px;
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: #F0F0F0;
    color: black;
    background-color: #FF7600;
}


