html {
    box-sizing: border-box;
    background-color: #72bfdb;
    scroll-behavior: smooth;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1440px;
    color: #16243E;
    background-color: #DBF1F9;
    margin: 0 auto;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.125em; /*I changed to REM-EM*/
    line-height: 1.5;
}

/*----------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16243E;
    height: 8em;
}

#logo-container {
    margin-left: 10%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#logo-container img {
    width: 3.5em;
    height: 2.5em;
    display: block;
}

#logo-container p {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.0;
}

#logo-container span {
    font-size: 1em;
    font-weight: 400;
}

#header-nav {
    padding-right: 6%;
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.2em;
    margin-top: 28px;
    padding: 12px 25px;
    display: inline-block;
}

.nav-link:hover {
    background-color: hsl(205, 50%, 47%);
    border-radius: 50px;
}

#menu-checkbox,
.hamburger-icon {
  display: none;
}

/*----------------HEADER: MEDIA QUIERIES----------------*/

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .hamburger-icon {
        display: block;
        color: white;
        padding-right: 10%;
    }

    #menu-checkbox:checked ~ #header-nav {
        display: block;
    }

    #header-nav {
        display: none;
        top: 8em;
        width: 100%;
        text-align: center;
        background-color: #16243E;
    }

    header {
        position: relative;
    }

    #header-nav {
        position: absolute;
    }

    .nav-link {
        display: block;
        padding: 1em;
    }

    #logo-container p {
        font-size: 1.5em;
        line-height: 1.2;
    }

    #logo-container span {
        font-size: .8em;
    }
}

/*----------------BUTTON----------------*/

.primary-btn {
    width: 8rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #FBA729, #EE5A24, #FBA729);
    background-size: 200%;
    border-radius: 30px;
    text-decoration: none;
    color: #16243E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}

.primary-btn:hover {
    transform: scale(1.1);
    background-position: right;
}

/*----------------HEADLINES----------------*/

.headline-style-1,
.headline-style-3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.headline-style-3 {
    font-size: 2em;
    text-align: center;
}

.headline-style-1 {
    font-size: 3rem;
    color: white;
    width: 25%;
}

.headline-style-1 span, 
.headline-style-2,
.headline-style-3 span {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

.headline-style-1 span,
.headline-style-3 span {
    color: #FBA729;
}

.subtitle {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #16243E;
    font-weight: 700;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

    .headline-style-3 {
        font-size: 2rem;
        text-align: center;
    }

    .headline-style-1 {
        font-size: 2.125rem;
    }

    .headline-style-1 span {
        font-size: 1.5rem;
    }

    .headline-style-2 {
        font-size: 1.5rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
    }
}

/*----------------FOOTER----------------*/

footer {
    background-color: #16243E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#footer-wrapper {
    width: 80%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.footer-heading {
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
    margin: 0;
}

footer p {
    line-height: 1.0;
    font-size: 1rem;
}

footer i {
    padding: 1em;
    padding-left: 0;
    font-size: 1.6rem;
}

/*----------------MEDIA QUIRERIES: MOBILE----------------*/

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    #footer-wrapper {
        flex-direction: column;
        gap: 1.6em;
        padding: 1.6em 0em;
    }

    footer i {
        padding-left: 0px;
    }

    #col-1 {
        order: 4;
    }

    #col-2 {
        order: 1;
    }

    #col-3 {
        order: 2;
    }

    #col-4 {
        order: 3;
    }

    .col img {
        display: none;
    }
}


/*------------SECTION 4: CONTACT US-------------*/

.contact-section {
    background-color: #4695B2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px; /* Change to REM-EM */
}

.contact-section .primary-btn {
    margin: 0 auto;
}

.contact-section .headline-style-2 {
    margin: 15px; /* Change to REM-EM */
}

.contact-forms {
    width: 20%;
    display: flex;
}

input,
textarea {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px; /* Change to REM-EM */
    margin: 5px 0px; /* Change to REM-EM */
    width: 100%;
    padding-left: 10px; /* Change to REM-EM */
    border-radius: 6px; /* Change to REM-EM */
    border: none;
}

input {
    height: 40px; /* Change to REM-EM */
    margin: 5px 0px; /* Change to REM-EM */
}

textarea {
    height: 200px; /* Change to REM-EM */
    padding-top: 10px; /* Change to REM-EM */
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .contact-forms {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .contact-forms {
        width: 50%;
    }
}
