html {
    box-sizing: border-box;
    background-color: #72bfdb;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1440px;
    color: #16243E;
    background-color: #DBF1F9;
    margin: 0 auto;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

/*----------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16243E;
    height: 154px;
}

#logo-container {
    margin-left: 8%;
    text-decoration: none;
    color: white;
}

#logo-container img {
    width: 50px;
    height: 40px;
    display: block;
}

#logo-container p {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.0;
}

#logo-container span {
    font-size: 22px;
    font-weight: 400;
}

#header-nav {
    padding-right: 4%;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    padding-right: 70px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 18px;
}

#menu-checkbox,
.hamburger-icon {
  display: none;
}

/*----------------BUTTON----------------*/

.primary-btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBA729;
    border-radius: 30px;
    text-decoration: none;
    color: #16243E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.primary-btn:hover {
    transform: scale(1.1);
    background-color: white;
}

/*----------------HEADLINES----------------*/

.headline-style-1,
.headline-style-3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.headline-style-1 {
    font-size: 48px;
    color: white;
    width: 25%;
}

.headline-style-1 span, 
.headline-style-2,
.headline-style-3 span {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.headline-style-1 span,
.headline-style-3 span {
    color: #FBA729;
}

.subtitle {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #16243E;
    font-weight: 700;
}

.headline-style-3 {
    font-size: 32px;
    text-align: center;
}

/*----------------FOOTER----------------*/

footer {
    background-color: #16243E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-heading {
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

footer p {
    line-height: 1.0;
}

